@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    background-color: black;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1.25em;
}

.figure-grid {
    display: grid;
    gap: 10px;
    padding: 10px;
}

header {
    color: #007d7b;
    text-align: center;
    padding: 20px;
}

figcaption {
    top: 0;
    width: 100%;
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 10;

}

li,
label {
    color: #ffffff;
    font-size: 1em;
    text-align: left;
}

input {
    width: 93%;
    padding: 5px;
    font-size: 1em;
    margin-bottom: 20px;
    display: flex;
}

input::placeholder {
    color: #007d7b;
    font-weight: bold;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    opacity: .5;
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    width: 100%;
    position: relative;
    font-size: 1em;
}

nav {
    font-size: 1.5em;
    background-color: black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;

}

h1 {
    font-size: 3em;
    text-align: left;
}

h1+p {
    text-align: left;
}

h2,
h3 {
    font-size: 2em;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}

h2~p {
    text-align: left;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    text-decoration: none;

}

.submit-container {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.submit {
    background-color: #007d7b;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    width: 350px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    display: flex;
}


contact,
ul {
    list-style-type: none;
    text-align: center;
    display: inline;

}


@media (max-width: 485px) {
    .figure-grid {
        grid-template-columns: 1fr;
    }
}

/* 2 column layout for screens 485px and wider */
@media (max-width: 485px) {
    .figure-grid {
        grid-template-columns: 1fr;
    }
}

/* 3 column layout for screens 880px and wider */
@media (max-width: 880px) {
    .figure-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 4 column layout for screens 1300px and wider */
@media (max-width: 1300px) {
    .figure-grid {
        grid-template-columns: repeat(3, 1fr);
    }