@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    background-color: black;
    padding: 40px;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: white;
}

.figure-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

header {
    color: #007d7b;
    text-align: center;
}

p {
    font-size: 1.25em;
    text-align: left;
}

figcaption {
    justify-content: center position: fixed;
    z-index: 2;
    font-weight: bold;
    font-size: 1em
}

label {
    font-size: 1em
}

input {
    font-size: 1em
}


small {
    font-size: 1em;
}

footer {
    background-color: black;
    color: white;
}

nav {
    font-size: 1.5em;
    background-color: black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    display: inline;

}

h1 {
    font-size: 3em;
    text-align: center;
}

h1+p {
    text-align: left;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h2,
p {
    text-align: center;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    text-decoration: none;

}

.submit {
    background-color: #007d7b
}

contact,
ul {
    list-style-type: none;
    text-align: center;
}




.container {
    display: grid;
    gap: 20px;
    /* Adds space between grid items */
    padding: 20px;
}

/* Default layout for small screens (mobile first) */
.container {
    grid-template-columns: repeat(1, 1fr);
    /* 1 column layout */
}

.container figure {
    margin: 0;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Media query for screens 485px and wider */
@media (min-width: 485px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media query for screens 880px and wider */
@media (min-width: 880px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media query for screens 1300px and wider */
@media (min-width: 1300px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}